/* Style pour la barre de navigation avec dégradé inspiré du logo Capgemini */
.navbar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #0072BC, #00AEEF); /* bleu clair à bleu foncé */
    -fx-padding: 10px;
}

/* Style pour les boutons de la navbar */
.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-min-width: 80px;
    -fx-cursor: hand; /* change le curseur au survol */
}
