/* Style pour la barre de navigation */
.navbar {
    -fx-background-color: #2C3E50;
    -fx-padding: 10px;
}

/* Style pour les boutons de la navbar */
.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-min-width: 80px;
    -fx-cursor: hand; /* change le curseur au survol */
}

